* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.app {
  height: 100%;
  position: relative;
}

@font-face {
  font-family: CaveatBold;
  src: url(../assets/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: CaveatReg;
  src: url(../assets/fonts/Caveat-Regular.ttf);
}
:root {
  --primary-color: #ffd972;
  --overlay-color: rgba(24,39,51,0.85);
  --menu-speed: 0.75s;
}

.nav {
  margin: 0 auto;
  width: 100%;
  min-height: 80px;
  font-family: CaveatReg;
  margin-top: 18px;
  padding: 1px 50px 1px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  position: fixed;
  top: 0;
}
.nav__buttonNav {
  max-width: 551px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav a {
  color: #231f20;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}
.nav__links {
  list-style: none;
}
.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}
.nav__links a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.nav__links a:hover::before {
  color: #A7E8BD;
  -webkit-text-decoration: underline 2px solid #000;
          text-decoration: underline 2px solid #000;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav__logo {
  cursor: pointer;
  width: auto;
  height: 65px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.nav__logo:hover {
  width: auto;
  height: 55px;
}
.nav__cta {
  margin-left: 30px;
}
.nav__cta button {
  width: 158px;
  height: 52px;
  background-color: #FFD972;
  border-radius: 26px;
  padding: 10px 52px 10px 52px;
  border: none;
  font-size: 25px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  font-family: CaveatReg;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.nav__cta button:hover {
  background: #A7E8BD;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  color: #000;
  -webkit-transform: translate(-7px);
          transform: translate(-7px);
}

@media (max-width: 775px) {
  .nav {
    display: none;
  }
  .nav__logo {
    height: auto;
    max-width: 200px;
  }
  .nav__links li {
    display: inline-block;
    padding: 0px 0px;
    padding: 0px 0px;
  }
  .nav__links li a {
    font-weight: 600;
  }
}
.menu-wrap {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  font-family: "Lato", sans-serif;
}

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: var(--menu-speed);
          transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

@media (max-width: 775px) {
  .logoAndBurger {
    width: 100vw;
    height: 60px;
    padding: 0 40px 0 40px;
    margin-top: 36px;
  }

  .menu-wrap {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
.login {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFD972;
}
.login__content {
  height: 449px;
  width: 710px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.login ::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}
.login ::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.login :-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.login ::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}
.login ::placeholder {
  color: #000;
  opacity: 1;
}
.login :-ms-input-placeholder {
  color: #000;
}
.login__logHere {
  height: 293px;
  width: 209px;
}
.login__logHeader {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-bottom: 60px;
}
.login input {
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  color: #000;
  outline: none;
  margin-bottom: 51.5px;
}
.login__button {
  height: 52px;
  width: 209px;
  border-radius: 26px;
  padding: 10px 77px 10px 77px;
  border: none;
  font-size: 25px;
  -webkit-box-shadow: 0px 8px 30px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 30px 8px rgba(0, 0, 0, 0.2);
  font-family: CaveatReg;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  background: #FFD972;
}
.login__button:hover {
  background: #A7E8BD;
  -webkit-box-shadow: 0px 10px 35px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 35px 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-4px);
          transform: translate(-4px);
}
.login__signUp {
  height: 449px;
  width: 250px;
}
.login__signHeader {
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.login--h4 {
  font-size: 12px;
  font-style: italic;
  text-transform: lowercase;
  padding: 0px;
  margin-bottom: 1px;
}
.login--h1 {
  margin-bottom: 60px;
  text-transform: capitalize;
  font-size: 30px;
}
.login--buttonSignUp {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .login {
    width: 100%;
    height: 1070px;
    min-height: calc(100vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .login__content {
    margin-top: 87px;
    width: 207px;
    height: auto;
    display: inline;
  }
  .login__logHere {
    margin-bottom: 60px;
  }
  .login__input {
    margin-bottom: 50px;
  }
  .login__button {
    width: 207px;
    margin-bottom: 114px;
  }
  .login--buttonSignUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
  }
}
@media only screen and (max-width: 376px) {
  .login {
    height: 1200px;
    margin-bottom: 200px;
  }
  .login__content {
    height: 857px;
  }
  .login__logHere {
    margin-bottom: 116px;
  }
}
.footer {
  width: 100%;
  height: 19px;
  margin: 0 40px 26px 40px;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 10px;
  margin-bottom: 22px;
}
.footer__content {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 20px;
}
.footer__copyright {
  min-width: 145px;
  height: 100%;
  margin-right: 58px;
  padding: 0px;
}
.footer__copyright p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav {
  width: 638px;
  height: 100%;
  margin-right: 99px;
}
.footer__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__nav ul li {
  display: inline-block;
}
.footer__nav ul li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 300;
  text-decoration: none;
  position: relative;
}
.footer__nav ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.footer__nav ul li a:hover::before {
  color: #A7E8BD;
  -webkit-text-decoration: underline 2px solid #000;
          text-decoration: underline 2px solid #000;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__icons {
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}
.footer__icons:hover {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 19px;
    margin: 0 40px 26px 40px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 22px;
  }
}
@media only screen and (max-width: 376px) {
  .footer {
    max-width: 100%;
    height: 67px;
    margin: 0 auto;
  }
  .footer__content {
    display: inline-table;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .footer__copyright {
    float: left;
    margin-right: 0;
    height: 19px;
  }
  .footer__icons {
    height: 19px;
    width: 29px;
    float: left;
  }
  .footer__nav {
    height: 33px;
    width: 270px;
    float: left;
    margin-right: 0;
  }
  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav ul li a {
    margin-right: 5px;
  }
}