.footer {
    width: 100%;
    height: 19px;
    // background: rgba(255, 0, 255, 0.425);
    //how do I place this on top?
    // z-index: 99;
    margin: 0 40px 26px 40px;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;    
    font-style: italic;
    font-size: 10px;
    margin-bottom: 22px;
    // padding: 0px 20px 22px 20px;
    

&__content {
    height: 100%;
    max-width: 100%;
    // background: rgba(255, 255, 255, 0.616);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px 0 20px;
}
&__copyright {
    // background: hotpink;
    min-width: 145px;
    height: 100%;
    margin-right: 58px;
    padding: 0px;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//footer nav
&__nav {
    // background: lawngreen;
    width: 638px;
    height: 100%;
    margin-right: 99px;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            display: inline-block;

            a {
                color: #000;
                text-decoration: none;
                transition: all 0.3s ease 0s;
                font-weight: 300;
                text-decoration: none;
                position: relative;
            }
            a::before {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: #000;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }
            a:hover::before {
                color: #A7E8BD;
                text-decoration: underline 2px solid #000;
                transform: scaleX(1);
            }
        }
    }
}

&__icons {
    // background: lightskyblue;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 15px;
    transition: 1s;
}
&__icons:hover {
    font-size: 20px;
}
}


@media only screen and (max-width: 768px) {
    .footer {
        width: 100%;
        height: 19px;
        margin: 0 40px 26px 40px;
        margin: 0 auto;
        // overflow: hidden;
        // position: fixed;
        // bottom: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;    
        font-style: italic;
        font-size: 10px;
        margin-bottom: 22px;
        // padding: 0px 20px 22px 20px;
        // background: gray;
    }
}

//media query 375
@media only screen and (max-width: 376px) {
    .footer {
        max-width: 100%;
        height: 67px;
        margin: 0 auto;        
        // background: coral;

        &__content {
            display: inline-table;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            // background: rgba(214, 72, 72, 0.644);
        }
        &__copyright {
            float: left;
            margin-right: 0;
            height: 19px;
            // background: aquamarine;
        }
        &__icons {
            height: 19px;
            width: 29px;
            float: left;
        }
        &__nav {
            height: 33px;
            width: 270px;
            float: left;
            margin-right: 0;

            ul {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                li {
                    a {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}


//270w 33h
